body {
    text-align: center;
}

 h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

blockquote {
    text-align: left;
    vertical-align: middle !important;
    margin: 0px;
}

.message {
    
}
