<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-left">
                <li class="dropdown">
                    <a class="brand" style="line-height: 32px" href="/" title="Home">
                        <strong>Barduino</strong>
                    </a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ user.name }}
                        &nbsp;
                        <img class="img" src="{{ user.avatar }}" width="32" height="32" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

